@font-face {
    font-family: sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    color: #839496;
}

body {
    background-color: #002b36;
}

.wrapper {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    text-align: center;
}

.clock {
    position: relative;
    color: inherit;
    font-size: 180px;
    font-family: sans-serif;
    width: 775px;
    margin: 0 auto;
}

.time {
    font-size: 40px;
    position: inherit;
    top: -94px;
}

.day1 {
    font-size: 50px;
    position: inherit;
    font-weight: bold;
    top: -88px;
    left: 0px;
}

.day2 {
    font-size: 50px;
    position: inherit;
    font-weight: bold;
    top: -45px;
    /*left: -27px;*/
}

.day3 {
    font-size: 50px;
    position: inherit;
    font-weight: bold;
    top: -1px;
    /*left: -55px;*/
}

.padding-right {
    padding-right: 40px;
}

.padding-left {
    padding-left: 40px;
}
